:root{
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff; 
--texto_complementario: #757575;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
/* body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
} */
.dimension{
    background-color: #E5E5E5;
    /* width: 320px; */
    /* background-color: white; */
    /* outline:2px solid seagreen; */

}
html{
    font-size: 62.5%;
    font-family: ‘DM Sans’, sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
}
/* .header img{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 150px;
    height: 24px;
    align-items: center;
} */
.contenidoheader{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
.contenidoheader h1{
    /* outline: 2px solid red;  */
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 2.4rem;
    color: var(--just-white);
}
.contenidoheader p{
    /* outline: 2px solid green;  */
    color: var(--soft-orange);
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.8rem;
    font-weight: 500;
}
.contenidoheader__boton{
    /* outline: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
   
}
.contenidoheader__boton a{
    height: 100%;
    width: 250px;
    left: calc(50% - 118px);
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.contenidoheader__boton span{
    display: inline-block;
    /* outline: 2px solid red; */
    width: 13px;
    height: 8px;
    margin-left: 14px;
    background-image: url("http://drive.google.com/uc?export=view&id=1X8QMTSd0BOV7OtVcVdOdoORdbQv8uqoP");
    background-repeat: no-repeat;
}
/* .container_principal{
    
} */
.imagbitcoin__contenedor{
    margin: 0 auto;
     /* outline: 2px solid red; */
     margin-top: 60px;
     margin-bottom: 60px;
     
}
.imagbitcoin{
    /* outline: 2px solid red; */
    background-image: url("http://drive.google.com/uc?export=view&id=1j0G7N1W88bt0RcXOCCbjEIKQ-jf40wzm");
    background-repeat: no-repeat;
    background-position: center;
    height: 195px;
   
}
.infobatatbit{
    /* outline: 2px solid red; */
    width: 100%;
    text-align: center;
    /* background-color: #E5E5E5; */
}
.infobatatbit__titulo{
    /* outline: 2px solid violet; */
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.infobatatbit__titulo h2{
    /* outline: 2px solid green; */
    font-weight: bold;
    font-size: 24px;
}
.infobatatbit__detalle{
    width: 100%;
    padding: 8px;
    text-align: center;
}
.infobatatbit__detalle h3{
    font-family: ‘DM Sans’, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--texto_complementario);
}
.infobatatbit__estados{
    /* outline: 2px solid red; */
    width: 70%;
    margin: 0 auto;
    height: 360px;
    min-width: 235px;
    max-width: 500px;
    font-family: "inter",sans-serif;
}
.infobatatbit__estados-titulo{
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 10px;
}
.infobatatbit__tabla{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.infobatatbit__tablamuestra{
    width: 100%;
    height: 100%;
}
.infobatatbit__tablamuestra td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.infobatatbit__tablamuestra .infobatatbit__tabla-coin{
    border-radius: 15px 0 0 0;
}
.infobatatbit__tablamuestra .infobatatbit__derechaarriba{
    border-radius: 0 15px 0 0;
}
.infobatatbit__tablamuestra .infobatatbit__inferior-coin{
    border-radius: 0 0 0 15px;
}
.infobatatbit__tablamuestra .infobatatbit__derechabajo{
    border-radius: 0 0 0 15px;
}
.infobatatbit__tablamuestra .infobatatbit__tabla-price{
    color: #757575;
    font-weight: normal;
    line-height: 1.7rem;
    font-size: 1.4rem;
}
.infobatatbit__tablamuestra .baja{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("http://drive.google.com/uc?export=view&id=1uaK_Z4n6MwYLvn00SerAlFkUUSdosK-k");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.infobatatbit__tablamuestra .sube{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("http://drive.google.com/uc?export=view&id=1wd5xuagLf73Uta_FguXfA1vpiDu-mKKN");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.informacion__actualizacion{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.informacion__actualizacion p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
.area_beneficios{
   position: relative;
   width: 100%;
   min-width: 320px;
   height: auto;
   padding: 20px 10px;
   background-color: var(--warm-black);
}
.icon-papa{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("http://drive.google.com/uc?export=view&id=1sfwVofmap3DBkZnUFVZV21SfMVNUk_wV");
}
.titulos-beneficios{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.titulos-beneficios h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.titulos-beneficios p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.contenido-cards{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}
.iconocard1{
    background-image: url("http://drive.google.com/uc?export=view&id=1nKLoR0DWKXs3slrEJmTus-GLog8515h-");
}
.iconocard2{
    background-image: url("http://drive.google.com/uc?export=view&id=18Hjm7af04SCtP1gJA8C4WcakAQbQxwu6");
}
.iconocard3{
    background-image: url("http://drive.google.com/uc?export=view&id=1boIMjJ27Uslq6d4TXtDywjR6jpD5DULw");
}
.iconocard4{
    background-image: url("http://drive.google.com/uc?export=view&id=1TDJFmX3Aaq83cFcP_OuwOmCw7128dHGg");
}
.iconocard1, .iconocard2, .iconocard3, .iconocard4{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contenido-cards .titulo-cards{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.contenido-cards .descripcion-card{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.imagen-container{
    width: 100%;
    min-width:320px ;
    height: 50vh;
    background-image: url("http://drive.google.com/uc?export=view&id=1Z3YaadI6Q4oYuk3fOsN2xkFcMClUNTm5");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}