<!-- estandar de html -->
<!DOCTYPE html> 
<!-- esta es la etiqueta de lenguaje que debera llevar nuestra pagina o se mostraraen el navegador -->
<html lang="es"> 
<!-- etiqueta head donde iran los metadatso todo lo importante para el navegador css, js cdns o 
cualquier enlace hacia otro elemento que nesesitemmos para nuestro proyecto -->
<head>
    <!-- etqueta correspondiente para que el navegador pueda entender caractaeres especiales -->
    <meta charset="UTF-8">
    <!-- esta facilita al navegador la la informacion de l navegador a lo que no s muestra en un inicio 
     -->
     <meta name="pruebas platzi" content="esta es una pagina de prueba">
     <!-- asi tambien para poder generar responsive a todos los dispositivos-->
     <!-- viewport tamaño de pantalla --- content qu el contenido se adaptre a la pantalal segun en la que se muestra -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- etiqueta que da nombre al titulo de la pestaña que se esta divisando -->
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo_principal.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Curso platzi</title>
</head>
<body>
  <main class="container" id="app">
    <nav>
      <h1>{{ message }}</h1>
    </nav>
    <section id="accordion">
      <ol class="card">
        <div  v-for="mostrarcurso in cursos">
          <li class="card-header" v-bind:id="mostrarcurso.id_curso" >
            <h3 class="mb-0">
              <a class="btn btn-link" data-toggle="collapse" v-bind:data-target="'#t'+mostrarcurso.id_curso" aria-expanded="true" v-bind:aria-controls="'#t'+mostrarcurso.id_curso">
                {{ mostrarcurso.curso }}
              </a>
            </h3>
          </li>

          <div v-bind:id="'t'+mostrarcurso.id_curso" class="collapse" aria-labelledby="mostrarcurso.id" v-bind:data-parent="'#t'+mostrarcurso.id_curso">
            <div class="card-body">
              <ol>
                <li v-for="classlistado in clases" v-if="classlistado.fk_idcurso==mostrarcurso.id_curso"><a v-bind:href="classlistado.enlaceclass">{{classlistado.class}} {{classlistado.contenido}}</a></li>        
              </ol>
            </div>
          </div>
        </div>
      </ol>
    </section>
  </main>
  
    <!-- <header> Sección superior de nuestro website  -->
      <!-- <nav></nav> Sección de navegación de nuestro website, siempre dentro del header -->
    <!-- </header> -->
    <!-- <main> Main es el contenido central de nuestro website, "la parte del medio" -->
      <!-- <section>  -->
        <!--Nuestro website puede estar divido por secciones, 
        por ejemplo platzi tiene 3: El navegador de cursos y rutas,
         el feed y nuestras rutas de aprendizaje-->
        <!-- <article> -->
          <!--Contenido independiente de la página. Es reutilizable-->
        <!-- </article> -->
      <!-- </section> -->
      <!-- <ul> Lista desordenada: Sin numerar -->
        <!-- <li>Item List. Elementos de la lista</li> -->
      <!-- </ul> -->
      <!-- <ol></ol> Lista ordenada: Numerada -->
    <!-- </main> -->
    <!-- <footer> Sección final de nuestro website -->
    <!-- </footer> -->
    <!-- <p>Menu de retos de platzi segun cursos</p> Párrafo, texto -->
    <!-- <h1>Curso Definitivo de HTML y CSS</h1>  -->
    <!-- <h2></h2> -->
    <!--Títulos, muestran el texto más grande y con negrilla. Existen desde el h1 al h6-->
    <!-- <a href="clase_8.html">reto 1</a> -->
    <!--Enlaces/links que nos permitirán movernos entre páginas.-->
    <script src="js/appvue.js"></script>
  </body>
</html>