body{
  background-color: rgba(0, 0, 0, 0.1)
}
h1{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
h3{
  color: blue;
  font-family: fantasy;
  letter-spacing: 1px;
}
.main{
  width: 500px;
  height: 500px;
  border: solid rgba(0, 0, 0, 0.5);
}

.categoriaPrincipal{
  color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: solid rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.categoriaPrincipal-img-item{
  margin: 0px;
  border-radius: 2px;
  border: solid rgba(0, 0, 0, 0.8);
}