*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    /* height: 100vh; */
    background-color: lightsalmon;
}
section{
    width: 50%;
    min-width: 320px;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-color: limegreen;
}
/*puede causar problemas de overflow  en texto en este caso el uso  min-height: xxx px; */
/* ayudara a que el contenido cresca conforme al texto */