
.informacion{
    flex-direction: column;
    align-items: center;
}
.mb-0 a{
font-size: 45%;
word-wrap: break-word;
padding-left: 0px;
}
.card-header img{
    width: 25px;
    height: 25px;
}
.informacion__clase, .informacion__logros{
    width: 100%;
    
}
.scrolling::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
     display: block;  /*Ocultar scroll */
}
.scrolling::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.scrolling::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.scrolling::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* .scrolling::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
} */
/* Cambiamos el fondo cuando esté en active o hover */
 /* .scrolling::-webkit-scrollbar-track:hover,
.scrolling::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}  */