
.informacion{
    flex-direction: column;
    align-items: center;
}
.mb-0 a{
font-size: 45%;
word-wrap: break-word;
padding-left: 0px;
}
.card-header img{
    width: 25px;
    height: 25px;
}
.informacion__clase, .informacion__logros{
    width: 100%;
    
}