.main {
    margin: 0;
    padding: 0;
}
.cabecera{
    width: 100%;
    height: 50px;
    background-color:#516f90;
    display: inline-block;
    padding: 2px 15px 5px 15px;
}
.cabecera span{
    width: 400px;
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
.informacion{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
}
.informacion__clase, .informacion__logros{
    width: 50%;
    padding: 10px 20px;
    
}
.informacion__clase h1, .informacion__logros h1{
    font-size: 1rem;
    padding: 0;
    margin: 0 auto;
    line-height: 1.5rem;
}

.titulos-informacion, .logros-titulo {
    text-align: center;
    box-shadow: 0px 8px 10px lightgrey;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1.5px solid lightgrey;
}
.scrolling{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-right: 5px;
}
/* .scrolling:-webkit-scrollbar-thumb{
    border-radius: 20px;
}
.scrolling::-webkit-scrollbar-track{
    border-radius: 10px;
} */
.contenido-informacion{
    box-shadow: 0px 8px 10px lightgrey;
    border-radius: 10px;
    height: 450px;
    padding: 11px 10px;
    border: 1.5px solid lightgrey;}
.contenido-logros{
    box-shadow: 0px 8px 10px lightgrey;
    border-radius: 10px;
    height: 450px;
    padding: 19px;
    border: 1.5px solid lightgrey;
    display: flex;
    flex-direction: column;
    
}
.pint1{
    margin: 0px 12px;
    box-shadow: 0px 8px 10px gray;
    height: 90px;
    width: 90px;
    padding: 5px;
    align-items: center;
    border: 1px solid lightslategrey;
    border-radius: 20px;
    background-color: lightgray;
}
.pint1 a img{
    width: 100%;
    height: 100%;
}
.pint1:hover {
   background-color:lightgreen;
   opacity: 0.5;
}
/* .icon-logro{
    outline: 2px solid red;
    background-image: url("https://assets.stickpng.com/images/580b585b2edbce24c47b2917.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */
.card{
    font-weight: bold;
}
.card-body ol{
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}
li a{
    color: black;
    font-weight: normal;
    padding-left: 0.5rem;
}
.mb-0 a{
    font-weight: bolder;
}
