*{
padding: 0;
margin: 0;
}
.container{
    width: 60%;
}
nav h1{
    text-align: center;
    font-size: 2rem;
}
.card-body ol{
    padding-left: 3rem;
    font-weight: bold;
}
li a{
    color: black;
    font-weight: normal;
    padding-left: 0.5rem;
}